// imports
@import "reset.less";

// font stack
@defaultFontStack: 'Titillium Web', sans-serif;

// base font sizes
@defaultFontSize: 100%;
@mobileFontSize: 150%;

// font sizes
@h1FontSize: 2rem;
@h2FontSize: 1.5rem;
@h3FontSize: 1.17rem;
@h4FontSize: 1rem;
@h5FontSize: .83rem;
@h6FontSize: .75rem;

// breakpoints
@mobileBreakpoint: 500px;
@tabletBreakpoint: 750px;

:root {
	font-size: @defaultFontSize;
	font-family: @defaultFontStack;
}

html, body {
    height: 100%;
}

body {
	background: #F5F5F5;
}

h1 {
	font-size: @h1FontSize;
}

h2 {
	font-size: @h2FontSize;
}

h3 {
	font-size: @h3FontSize;
}

h4 {
	font-size: @h4FontSize;
}

h5 {
	font-size: @h5FontSize;
}

h6 {
	font-size: @h6FontSize;
}

a {
	color: inherit;
}

.container {
	width: 70%;
	margin: 0 auto;

	@media(max-width: @mobileBreakpoint) {
		width: 95%;
	}

	// Box mixin
	.box-section-style() {
		padding: 20px;
		border: 0.2px solid black;
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background: white;
	}

	.flex-mixin(@justifyContent) {
		display: flex;
		justify-content: @justifyContent;
	}

	header {
		.flex-mixin(space-between);
		margin: 20px 0;

		@media(max-width: @mobileBreakpoint) {
			flex-direction: column;
		}

		nav {
			display: flex;
			align-items: center;

			a {
				padding-left: 50px;
				text-decoration: none;

				@media(max-width: @mobileBreakpoint) {
					padding: 15px 0;
					border-bottom: 1px solid grey;
					width: 100%;
				}
			}

			@media(max-width: @mobileBreakpoint) {
				flex-direction: column;
				align-items: end;
			}
		}
	}

	main {
		.intro {
			.box-section-style();
			.flex-mixin(space-around);
			height: 200px;

			.about {
				p {
					padding-top: 20px;
				}
			}
		}

		.skills {
			.box-section-style();

			margin: 30px 0;

			ul {
				list-style: circle inside none;

				li {
					padding: 10px;
				}
			}
		}

		.work-history {
			.box-section-style();
		}

		.contact {
			padding: 20px;
			margin: 10px 0;
		}

	}

}


