// imports
@import "reset.less";

// font stack
@defaultFontStack: 'Titillium Web', sans-serif;

// base font sizes
@defaultFontSize: 100%;
@mobileFontSize: 150%;

// font sizes
@xLargeFontSize: 2rem;
@largeFontSize: 1.5rem;
@mediumFontSize: 1rem;
@smallFontSize: .5rem;

// breakpoints
@mobileBreakpoint: 550px;
@tabletBreakpoint: 750px;

// 

:root {
	font-size: @defaultFontSize;
	font-family: @defaultFontStack;
}

html, body {
    height: 100%;
}

body {
	background: #F5F5F5;
}

h1 {
	font-size: @xLargeFontSize;
}

h2 {
	font-size: @largeFontSize;
}

h3 {
	font-size: @mediumFontSize;
}

h4 {
	font-size: @smallFontSize;
}

a {
	color: inherit;
}

.container {
	width: 70%;
	margin: 0 auto;

	// Box mixin
	.box-section-style() {
		padding: 20px;
		border: 0.2px solid black;
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background: white;
	}

	header {
		display: flex;
		justify-content: space-between;
		margin: 20px 0;

		nav {
			display: flex;
			align-items: center;

			a {
			padding-left: 50px;
			text-decoration: none;
		}}
	}

	main {
		.intro {
			.box-section-style();
			display: flex;
			justify-content: space-around;
			height: 200px;
			// padding: 30px;

			.about {
				p {
					padding-top: 20px;
				}
			}
		}

		.skills {
			.box-section-style();

			margin: 30px 0;

			ul {
				list-style: circle inside none;

				li {
					padding: 10px;
				}
			}
		}

		.work-history {
			.box-section-style();
		}

		.contact {
			padding: 20px;
			margin: 10px 0;
		}

	}

}


