// imports
@import "reset.less";

// base font sizes
@defaultFontSize: 100%;
@mobileFontSize: 150%;

:root {
	font-size: @defaultFontSize;
	font-family: 'Titillium Web', sans-serif;
}

html, body {
    height: 100%;
}

body {
	background: white;
}

.container {
	width: 70%;
	margin: 0 auto;
}

